%div#who.clear.push-8.span-8
  %h2 Who am I?
  %ul
    %li German-based web developer
    %li Experienced in PHP, beginning Ruby
    %li Computer Science student @ KIT, Germany
    %li Mac Geek

%div#contact.clear.push-8.span-8
  %h2 Contact me
  %ul
    %li 
      Phone:
      %a{:href => "tel:+4915773801121"} +49 (0) 157 7380 1121
    %li Email: uwe@kleinmann.org
    %li Google Talk: uwe@kleinmann.org
    %li
      My
      %a{:href => "/UweKleinmann.vcf"} VCF

%div#weblife.clear.push-8.span-8
  %h2 My web life
  %ul
    %li
      %a{:href => "http://github.com/iUwe"} My GitHub profile
    %li
      %a{:href => "http://bitbucket.org/iUwe"} BitBucket profile
    %li
      %a{:href => "http://twitter.com/iUwe"} Twitter account

%div#business.clear.push-8.span-8.last
  %h2 Business information
  %ul
    %li
      %a{:href => "http://www.sks-zollernalb.de"} sKs Zollernalb GbR